* {
  touch-action: none;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: gainsboro;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height:0
}

.bar {
  position: absolute;
  width: 100%;
  height: 90px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  line-height:normal
}

.button {
  border-color: white;
  border-radius: 8px;

  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1),
    0 3px 6px rgba(255, 255, 255, 0.05);

  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  width: 40px;
  height: 40px;

  margin: 0;
  padding: 0px;
}

hr{
    margin: 5px;
}
